* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --nav-color: darkcyan;
  --white-color: #fff;
  --dark-blue: #002240;
  --light-blue: blue;
}

#nav {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--nav-color);
  min-height: 3rem;
  padding: 0 1rem;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: var(--nav-color);
  font-size: 24px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav li {
  text-align: center;
  margin: 1rem auto;
  background-color: var(--white-color);
}

.nav-links {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 1rem;
}

.main-nav li .login,
.main-nav li .demo {
  border: solid 1px var(--light-blue);
  padding: 0.4rem 0.75rem;
  border-radius: 5px;
}

.main-nav li .login {
  background-color: transparent;
  color: var(--light-blue);
}

.main-nav li .login a:visited {
  color: var(--light-blue);
}

.main-nav li .demo {
  background-color: var(--light-blue);
}

.main-nav li .demo a,
.main-nav li .demo a:visited {
  color: var(--white-color);
}

.main-nav li .login a,
.main-nav li .demo a {
  padding: 0.4rem 0.75rem;
}

.main-nav li a {
  text-decoration: none;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  background-color: transparent;
}

.logo img {
  height: 1.5rem;
}

.active {
  display: block;
}

/* CONTENT */
main {
  margin: 0 1.5rem;
}
.hero-img {
  background-image: url(./img/photo-1551732998-9573f695fdbb.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 296px;
  margin: 1rem 0;
}
.vision h1 {
  font-size: 32px;
  padding-bottom: 0.5rem;
  color: var(--dark-blue);
}
.vision p {
  line-height: 24px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: var(--dark-blue);
}

.culture h2 {
  font-size: 28px;
  margin-bottom: 1rem;
  color: var(--dark-blue);
}
.culture p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 26px;
  color: #537089;
}
.culture img {
  width: 56px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.culture h3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0.75rem;
  color: var(--dark-blue);
}
.culture .culture-followUp {
  color: var(--dark-blue);
  margin-top: 2rem;
}
.culture button {
  width: 100%;
  background: #0688fa;
  color: var(--white-color);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  height: 49px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  margin-bottom: 22px;
}

.timeline {
  margin-bottom: 2rem;
}
.timeline h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 2rem;
  height: 30px;
  font-weight: bold;
  color: var(--dark-blue);
}
.timeline .timeline-line {
  background: #eff8ff;
  border-radius: 5px;
  margin: 0 -1.5rem;
  padding: 70px 10%;
  display: flex;
  flex-direction: column;
}
.timeline .timeline-line div {
  display: flex;
}
.timeline .timeline-line div .year {
  width: 17%;
  height: 35px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #0688fa;
}
.timeline .timeline-line div img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  z-index: 5;
  margin-left: 5%;
}
.timeline .timeline-line div p {
  font-size: 16px;
  line-height: 24px;
  width: 60%;
  height: 140px;
  margin-left: 13px;
}
.timeline .timeline-line .line {
  width: 0px;
  height: 840px;
  border: 2px solid #0688fa;
  position: absolute;
  margin-left: 25%;
  margin-top: -70px;
}

.offices h2 {
  font-size: 28px;
  text-align: center;
  color: var(--dark-blue);
  margin-bottom: 20px;
}
.offices .card {
  width: 271px;
  height: 199px;
  background: var(--white-color);
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 23px;
  margin: 37px auto;
}
.offices .card img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  align-self: center;
  margin-bottom: 8px;
}
.offices .card h4 {
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  color: var(--dark-blue);
  height: 42px;
}
.offices .card p {
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-blue);
}

.investors h2 {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-bottom: 1rem;
}
.investors .investor-card {
  width: 272px;
  height: 145.79px;
  background: var(--white-color);
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  padding: 1rem;
}
.investors .investor-card img {
  width: 100%;
}

.future {
  background: #329dfa;
  height: 377px;
  margin: 0 -1.5rem;
  padding: 1.5rem;
}
.future h2 {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: var(--white-color);
  margin-top: 60px;
  margin-bottom: 3rem;
}
.future .future-demo {
  width: 272px;
  height: 49px;
  background: var(--white-color);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: block;
  margin: 1rem auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}
.future .future-cases {
  width: 272px;
  height: 49px;
  display: block;
  margin: 1rem auto;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  background-color: #329dfa;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 5px;
}

footer {
  margin: 40px 25px 0 25px;
}
footer .footer-logo {
  display: block;
  height: 2rem;
  width: 70%;
  margin-bottom: 2rem;
}
footer .footer-logo img {
  height: inherit;
}
footer .footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer-content .footer-why,
footer .footer-content .footer-product,
footer .footer-content .footer-company,
footer .footer-content .footer-contact {
  width: 45%;
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 1rem;
}
footer .footer-content .footer-why h6,
footer .footer-content .footer-product h6,
footer .footer-content .footer-company h6,
footer .footer-content .footer-contact h6 {
  font-size: 18px;
  padding: 0.75rem 0;
}
footer .footer-content .footer-why a,
footer .footer-content .footer-product a,
footer .footer-content .footer-company a,
footer .footer-content .footer-contact a {
  color: var(--dark-blue);
  text-decoration: none;
}
footer .footer-other {
  background: #f4f4f4;
  margin: 0 -25px;
  padding: 25px;
  text-align: center;
}
footer .footer-other svg {
  margin: 10px;
}
footer .footer-other a {
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  display: block;
  height: 43px;
  text-decoration: none;
}
footer .footer-other p {
  font-size: 14px;
  line-height: 32px;
  color: var(--dark-blue);
  width: 272px;
  height: 31px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  main {
    margin: 0 3rem;
  }
  .hero-img {
    margin: 1rem auto 2rem auto;
    width: 674px;
    height: 300px;
    background-position: center;
  }
  .vision {
    display: flex;
  }
  .vision h1 {
    width: 40%;
  }
  .vision p {
    width: 55%;
    margin-left: 5%;
  }

  .culture .culture-intro h2,
  .culture .culture-intro p {
    text-align: center;
  }
  .culture .culture-intro h2 {
    margin-top: 1rem;
  }
  .culture .culture-intro p {
    width: 429px;
    margin: 0 auto 26px auto;
  }
  .culture .avatars {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .culture .avatars div {
    width: 30%;
  }
  .culture .culture-followUp {
    width: 429px;
    margin: 1rem auto 26px auto;
    text-align: center;
  }
  .culture button {
    width: 167px;
    margin-left: 40%;
  }

  .timeline .timeline-line {
    margin: 0;
  }
  .timeline .timeline-line div {
    padding: 0 1rem;
  }
  .timeline .timeline-line div .year {
    margin-left: 3.35rem;
    margin-right: 0.5rem;
  }
  .timeline .timeline-line div p {
    width: 400px;
  }

  .offices .cards {
    display: flex;
  }

  .investors h2 {
    font-size: 31.2674px;
    line-height: 33px;
    margin-top: 2rem;
  }
  .investors .investor-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .investors .investor-card {
    width: 272px;
    height: 145.79px;
  }

  .future {
    height: 215px;
  }
  .future h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .future .future-demo,
  .future .future-cases {
    display: inline-block;
    width: 146px;
    height: 43px;
    margin: 1rem 0;
  }
  .future .buttons {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  footer {
    margin: 50px 70px 0 70px;
  }
  footer .footer-logo {
    display: inline-block;
    width: 30%;
  }
  footer .footer-content {
    margin-left: 35%;
    margin-top: -4.5rem;
  }
  footer .footer-content .footer-why,
  footer .footer-content .footer-product,
  footer .footer-content .footer-company,
  footer .footer-content .footer-contact {
    width: 40%;
  }
  footer .footer-other {
    margin: 0 -70px;
  }
}

@media (min-width: 1440px) {
  #nav {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
    font-weight: 500;
    height: 4rem;
    border-bottom: none;
  }
  .navbar-toggle {
    display: none;
  }
  .main-nav {
    display: flex;
    margin: 10px 2rem 0 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .main-nav li {
    margin: 0;
    padding: 0;
  }
  .nav-links {
    margin: 0 1rem;
    padding: 1rem;
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
  }
  .main-nav .login {
    margin: 0 1rem 0 4rem;
  }
  .main-nav .login,
  .main-nav .demo {
    font-size: 18px;
    line-height: 23px;
  }

  /*CONTENT*/
  main {
    margin: 0 5rem;
  }
  .hero-img {
    width: 1287px;
    height: 300px;
  }
  .vision h1 {
    font-size: 58px;
    line-height: 62px;
  }
  .vision p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 2rem;
  }

  .culture .culture-intro h2 {
    font-size: 58px;
    line-height: 62px;
    letter-spacing: -0.01em;
  }
  .culture .culture-intro p {
    font-size: 21px;
    line-height: 38px;
    width: 920px;
    margin: 0 auto 50px auto;
  }
  .culture .avatars {
    margin-bottom: 47px;
  }
  .culture .avatars img {
    width: 80px;
  }
  .culture .avatars h3 {
    font-size: 21px;
    line-height: 34px;
  }
  .culture .avatars p {
    font-size: 18px;
    line-height: 32px;
  }
  .culture .culture-followUp {
    font-size: 21px;
    line-height: 38px;
    width: 1209px;
  }
  .culture button {
    margin-left: 45%;
    width: 198px;
    font-size: 18px;
    line-height: 23px;
    height: 59px;
  }

  .timeline h2 {
    font-size: 58px;
    line-height: 62px;
    margin-bottom: 80px;
  }
  .timeline .timeline-line {
    padding: 120px 110px;
  }
  .timeline .timeline-line .line {
    margin-top: -119px;
    margin-left: 22.5%;
    height: 940px;
  }
  .timeline .timeline-line div .year {
    margin-right: 20px;
    font-size: 26px;
    line-height: 34px;
  }
  .timeline .timeline-line div p {
    margin-left: 40px;
    font-size: 26px;
    line-height: 34px;
    width: 738px;
  }

  .offices h2 {
    font-size: 58px;
    line-height: 62px;
    letter-spacing: 0.01em;
    margin-top: 2rem;
  }
  .offices .card {
    width: 528px;
    height: 283px;
  }
  .offices .card img {
    width: 80px;
    height: 80px;
  }
  .offices .card h4 {
    font-size: 32px;
    line-height: 34px;
  }
  .offices .card p {
    font-size: 18px;
    line-height: 32px;
  }

  .investors h2 {
    font-size: 58px;
    line-height: 62px;
    margin-top: 4rem;
  }
  .investors .investor-card {
    width: 528px;
    height: 283px;
  }

  .future {
    height: 398.53px;
  }
  .future h2 {
    font-size: 48px;
    margin-top: 115px;
  }
  .future .future-demo,
  .future .future-cases {
    width: 272px;
    height: 62px;
  }

  footer .footer-content .footer-why,
  footer .footer-content .footer-product,
  footer .footer-content .footer-company,
  footer .footer-content .footer-contact {
    width: 20%;
    font-size: 18px;
    line-height: 42px;
  }
}
